@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}


/* sec-one begins */

/* navbar */

.navbar{
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 15px 10px -15px  #E5E5E5;    
    background-color: #FFFFFF;
} 

.logos img{
    margin-right: 2px;
    margin-top: -10px;
}

.logos a{
    font-weight: bold;
    text-decoration: none;
    color: #019748 !important;
    font-family: 'Acme', sans-serif;
    font-size: 21px; 
}


.logos span{
    color: #31316D;
    font-family: 'Acme', sans-serif;
}


.navbar-nav{
    margin-left: 160px;
  
}

.nav-link{
    color: #111111 !important;
}

.nav-link:hover{
    color: #019748 !important;
}


.nav-link:hover{
    border-bottom: solid 2px  #019748;
}

.nav-item {
    padding-left: 25px;
}


.search{
    margin-right: 70px;
}

.search i{
    padding-left: 20px;
}

.search a{
    color: black;
}


/* section 2 begins */
    .sec-two{
        margin-top: 83px;
    }

    .sec-two #home{
        padding-left: 60px;
        padding-top: 20px;
    }

    .sec-two #for{
        text-align: center;
        color: #333333;
        font-weight: 500;
        font-size: 25px;
    }

    /* section 3 begins */
    .sec-three{
        margin-top: 70px;
    }


    .sec-three #head{
        color: #696969;
        font-weight: bold;
    }

    .sec-three #body{
        color: #696969;
    }


     /* section 4 */
     .sec-four{
         margin-top: 55px;
        text-align: center;
     }

     .sec-four iframe{
        width: 90%;
        height: 500px; 
       }


        /* section 5 begins */
        .sec-five{
            margin-top: 40px;
        }

    .sec-five h4{
        text-align: center;
    }


    /* section 6 begins */
    .sec-six{
        margin-top: 20px;
        
    }

    .contact-form{
        margin: auto;
        margin-top: 40px;
        width: 50%;
    }

    .form2 ,.form3, .form-group{
        margin-top: 25px;
    }

    .btn-div{
        text-align: center;
    }

    .mybtn{
        background-color: #019748;
        margin-top: 10px;
       margin-bottom: 60px;
    }

    .mybtn a{
        color: white;
        text-decoration: none;
    }

    .contact-form::placeholder { 
        color: red;
      }

      .form-group input{
          background-color: rgb(243, 240, 240);
          color:black;
          font-weight: bold;
      }

      
      .form-group input::placeholder{
        color: black;
        font-weight: bold;
    }

      .formm input{
        background-color:rgb(243, 240, 240);
      }
    
      .formm input::placeholder{
        color: black;
        font-weight: bold;
    }

   .form-group textarea {
        background-color: rgb(243, 240, 240);
    }

    .form-group textarea::placeholder{
        color: black;
        font-weight: bold;
    }


   /* footer section begins */
footer{
    width: 100%;
    background-color: #F8F8F8;  
}

.foot{
padding-top: 50px;
}

.foot a {
color: #696969;
text-decoration: none;
}

.foot a:hover {
color: #257249;
}

#main{
color: #333333;
font-weight: 500 !important;
}

#succ{
padding-top: 26px;
}

.copyright{
padding-top: 80px;
padding-bottom: 10px;
text-align: center;
color:  #ABABAB;
}





/* media screen */
@media (max-width:900px) {

    .search, .search i{
        display: none;
    }

   .sec-two{
       margin-top: 40px;
   }

   .logos a{
       font-size: 16px;
   }

   #img-small{
       display: none;
   }

   /* section 2 begins */
   .sec-two{
    margin-top: 90px;
}


.sec-two #for{
    padding-top: 7px;
    font-size: 15px;
}

.sec-three{
    margin-top: 40px;
}

/* section 4 */
.sec-four{
    margin-top: 25px;
}

.sec-four iframe{
    width: 95%;
    height: 300px; 
   }

   
 /* section 5 begins */
 .sec-five{
  margin-top: 25px;
}

/* section 6 begins */
.sec-six{
    margin-top: 17px; 
}

.contact-form{
    width: 100%;
}

.btn-div{
    text-align: center;
}

.mybtn{
    text-align: center;
   margin-bottom: 60px;
}

.copyright{
    padding-top: 30px;
    padding-bottom: 10px;
    }

    .foot{
        padding-top: 30px;
        }

}