@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}


/* sec-one begins */

/* navbar */

.navbar{
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 15px 10px -15px  #E5E5E5;    
    background-color: #FFFFFF;
} 

.logos img{
    margin-right: 2px;
    margin-top: -10px;
}

.logos a{
    font-weight: bold;
    text-decoration: none;
    color: #019748 !important;
    font-family: 'Acme', sans-serif;
    font-size: 21px; 
}


.logos span{
    color: #31316D;
    font-family: 'Acme', sans-serif;
}


.navbar-nav{
    margin-left: 160px;
  
}

.nav-link{
    color: #111111 !important;
}

.nav-link:hover{
    color: #019748 !important;
}


.nav-link:hover{
    border-bottom: solid 2px  #019748;
}

.nav-item {
    padding-left: 25px;
}


.search{
    margin-right: 70px;
}

.search i {
    padding-left: 20px;
}

.search a{
    color: black;
}


/* section two begins */
.sec-two{
    height: 590px;
    width: 60%;
    background-color: #EDF4F8;
    margin-top: 83px;
}

.accu{
    color: #31316D; font-weight: bold; 
}

.accurate {
    padding-left: 80px;
    padding-top: 120px;
    position: relative;
}


.accurate p{
    font-size: 30px;
}

.accurate h4{
    line-height: 0px;
}

.btn-show{
    background-color:  #28A462;
    color: white;
}

.btn-show a{
    color: white;
    text-decoration: none;
}

.accurate-image{
    width: 100%;
    
}

.accurate-image img{
  position: absolute;
  z-index: 1;
    left: 650px;
    bottom: -155px;
    height: 470px !important;
}

.arrows{
    position: absolute;
    top: 545px;
    left: 605px;
}

.arrows i{
    padding-left: 15px;
}

.arrows a{
    color: #949494;
}


/* section 3 begins */
.sec-three .why p {
    padding-top: 50px;
       text-align: center;
       color: #696969;
       font-size: 19px;
       font-weight: bold;
   }

   .why img{
       display: none;
   }

   .sec-three h4 {
    padding-top: 0px;
       text-align: center;
       font-weight: bold;
   }

.sec-three h4 span{
   color: #28A462;
}

.rrow{
    margin-top: 55px;
    text-align: center;
}

.general{
    text-align: center;
    margin: auto;
}

.general h5{
    margin: auto;
    color: #28A462;
    padding-bottom: 8px;

}
.general img{
    
}

.general p{
    color: #706E6E;

}


/* sec-four begins */
.sec-four{
    
    width: 100%;
    /* height: 402px; */
    margin-top: 40px;
    background-image: linear-gradient(#F3F3F3, #ffffff);
}

.first-asso-image{
    padding-top: 45px;
}

.first-asso-image img{
    width: 80%;
    padding-left: 70px;
}

#first{
    font-size: 34px;
    font-family: cursive;
    padding-top: 90px;
    color:  rgb(22, 22, 109);
}

#first span{
    font-weight: bold;
    color: #28A462;
    font-family: cursive;
}

#second{
    font-size: 18px;
}

#second span{
    color: rgb(22, 22, 109);
    font-weight: bold;
}

.btn-first{
    background-color:  #28A462;
    color: white;
    margin-top: 20px;
}


/* section five begins */
.sec-five{
    margin-top: 30px;
    width: 100%;
    background-color:  #F5F7FA;
}

.sec-five .why2 p {
    padding-top: 75px;
       text-align: center;
       color: #696969;
       font-size: 14px;
       font-weight: bold;
   }

   .sec-five .why2 h4 {
    padding-top: 0px;
       text-align: center;
       font-weight: bold;
       color: rgb(22, 22, 109);
   }

.sec-five .why2 h4 span{
   color: #28A462;
}

.row-head{
    padding-top: 40px;
}

.free{
    display: flex;
}

.freee{
    display: flex;
}



.free-text{
    padding-left:  30px;
    padding-top: 15px;
}

.pi{
    color:  #3F3A64;
    padding-top: 10px;
    /* color: #3F3A64; */
}

.pi a{
    color:  #3F3A64;
    font-weight: bold;
}


.free-text #span1{
    padding-left: 20px;
    color: #8C89A2;
}

.free-text #span2{
    padding-left: 40px;
    color: #8C89A2;
}

.btn-v{
text-align: center;
}

.btn-view {
       text-align: center;
       margin: auto;
       margin-top: 40px;
       background-color:  #28A462;
       color: white;
       padding-left: 25px;
       padding-right: 25px;
       padding-top: 8px;
   }


   /* section six begins */
   .sec-six{
       
   }

   .sec-six .get p {
    padding-top: 50px;
       text-align: center;
       color: #696969;
       font-size: 13px;
       font-weight: bold;
   }

   .sec-six .get p span{
        color: #3F3A64;
   }

   .sec-six h4 {
    padding-top: 0px;
       text-align: center;
       font-weight: bold;
       color: #3F3A64;
   }

.sec-six h4 span{
   color: #28A462;
}

.sec-six iframe{
    width: 70%;
    height: 400px;
    margin-top: 40px;
}

.videoo{
    text-align: center;
}


/* section seven begins */
.sec-seven .great p {
    padding-top: 70px;
       text-align: center;
       color: #696969;
       font-size: 13px;
       font-weight: bold;
   }

   .sec-seven h4 {
    padding-top: 0px;
       text-align: center;
       font-weight: bold;
       color: #3F3A64;
   }

.sec-seven h4 span{
   color: #28A462;
}

/* card region */
.carrd{
    margin-top: 45px;
    margin-left: 40px; 
}

.card-reg{
    padding-left: 20px;
    padding-top: 30px;
    box-shadow: 0px 16px 40px rgba(51, 51, 51, 0.13);
    background: #FFFFFF !important;
    border-radius: 5px;
    border: solid 1px #FFFFFF !important;
}

.card-tit{
    color:  #3F3A64;
}

.card-tex{
    color:  #696969;
}

.card-subsection{
    display: flex;
    padding-top: 10px;
}

.card-image-text{
    padding-left: 20px;
    padding-top: 10px;
    
}

#p-one{
    color: #3F3A64;
}

#p-two{
    color: #7E7E7E;
}



/* section eight begins */
.sec-eight{
    padding-top: 120px;
    background-color:  white;
    line-height: 0.5rem;
    padding-bottom: 90px;
}

.sec-eight .start p {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color:#3F3A64;
}

.sec-eight .start h5 {
       text-align: center;
       color:#3F3A64;
       font-size: 25px;
       /* font-weight: bold; */
   }

.sec-eight .start p span{
   color: #28A462;
}



/* section nine begins */
.sec-nine{
    width: 100%;
    padding-bottom: 40px;
    background-color: #F5F1ED;
}

.enj{
    padding-top: 100px;
}

.enjoyable{
    padding-top: 20px;
}

#enjoy{
    color: #8C89A2;;
}

.enjoyable h5{
    color: #3F3A64;
}

.enjoyable h5 span{
    color: #20AD96;
}

.become i{
    color: #000000;
}

.become a{
    color: #3F3A64;
    text-decoration: none;
}

.card-business{
    font-size: 15px;
    color: #8C89A2;
}

.card-tax{
    color: #3F3A64;
}

#tax span{
    color:  #7E7E7E;
    padding-left: 20px;
    font-size: 13px;
}



/* footer section begins */
footer{
        width: 100%;
        background-color: #F8F8F8;    
}

.foot{
    padding-top: 50px;
}

.foot a {
    color: #696969;
    text-decoration: none;
}

.foot a:hover {
    color: #257249;
}

#main{
    color: #333333;
    font-weight: 500 !important;
}

#succ{
    padding-top: 26px;
}

.copyright{
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: center;
    color:  #ABABAB;
}






/* media screen */
@media (max-width:900px) {

    .search, .search i{
        display: none;
    }

   .sec-two{
       margin-top: 40px;
   }

   .logos a{
       font-size: 16px;
   }

   #img-small{
       display: none;
   }


   /* section two begins */
    .sec-two{
    width: 100%;
    margin-top: 60px;
    height: initial;
    padding-bottom: 32px;
}

.accurate {
    padding-left: 0px;
    text-align: center;
    padding-top: 55px;
}

.accurate p{
    font-size: 20px;
}

.accurate h4{
    line-height: 10px;
}


    .accurate-image img{
      display: none;
  }

  .arrows{
    display: none;
}

/* section 3 begins */
.sec-three .why p {
    padding-top: 25px;
   }

    .why img{
    display: block;
    margin-top: 20px;
}

  
/* sec-four begins */
#first{
    padding-top: 10px;
}

#second{
    line-height: 30px;
}


/* section five begins */
.sec-five .why2 h4 {
    padding-bottom: 20px;
   }

   
.sec-five .why2 p {
    padding-top: 40px;
   }

.free{
    padding-top: 0px;
}

.freee{
    padding-top: 20px;
}

.free-text{
    padding-top: 5px;
}

#pi{
    padding-top: 0px;
}

.row-head{
    padding-top: initial;
}

.free-text #span1{
    padding-left: 0px;
    line-height: 15px;
    padding-top: 0px;
}

.free-text #span2{
    padding-left: 0px;
    display: block;
}


 /* section six begins */
 .sec-six{
      margin-top: 0px; 
}

.sec-six .get p {
    padding-top: 35px;
   }

   .sec-six iframe{
    width: 100%;
    height: 200px;
    margin-top: 10px;
}


/* section seven begins */
.sec-seven .great p {
    padding-top: 32px;
   }

   /* card region */
   .carrd{
       width: 100%;
       margin: auto;
       margin-top: 17px;
       margin-left: 0px; 
}

    .card{
        width: 100% !important;
        margin-top: 17px;
    }

    /* section eight begins */
.sec-eight{
    padding-top: 50px;
    line-height: 1.8rem;
    padding-bottom: 30px;
}

.sec-eight .start p {
    font-size: 16.5px;
}

.sec-eight .start h5 {
    font-size: 18px;
}

/* section nine begins */
.sec-nine{
    width: 100%;
}

.cardx{
    width: 100% !important;
   margin-top: 40px;
}

.enj{
    padding-top: 10px;
}




.copyright{
    padding-top: 30px;
    padding-bottom: 10px;
    }

    .foot{
        padding-top: 30px;
        }

}