@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}


/* sec-one begins */

/* navbar */

.navbar{
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 15px 10px -15px  #E5E5E5;    
    background-color: #FFFFFF;
} 

.logos img{
    margin-right: 2px;
    margin-top: -10px;
}

.logos a{
    font-weight: bold;
    text-decoration: none;
    color: #019748 !important;
    font-family: 'Acme', sans-serif;
    font-size: 21px; 
}


.logos span{
    color: #31316D;
    font-family: 'Acme', sans-serif;
}


.navbar-nav{
    margin-left: 160px;
  
}

.nav-link{
    color: #111111 !important;
}

.nav-link:hover{
    color: #019748 !important;
}


.nav-link:hover{
    border-bottom: solid 2px  #019748;
}

.nav-item {
    padding-left: 25px;
}


.search{
    margin-right: 70px;
}

.search i{
    padding-left: 20px;
}

.search a{
    color: black;
}


/* section 2 begins */
    .sec-two{
        margin-top: 83px;
    }

    .sec-two #home{
        padding-left: 60px;
        padding-top: 20px;
    }

    .sec-two h2{
        text-align: center;
        margin-top: 50px;
        color: #4e4a4a;
    }


    /* section 3 begins */
    .sec-three{

    }

    .sec-three .available{
        margin-top: 40px;
        line-height: 0rem;
    }

    .sec-three .available span{
        color: #9A9A9A;
        margin-left: 30px;
    }

    .sec-three .available-border{
        width: 45rem;
        height: 4px;
        border-radius: 8px;
        background-color: #C4C4C4;
        border-left: 10rem solid #20AD96;
    }

 .sec-three .we{
     display: flex;
     justify-content: space-between;
     margin-top: 30px;
 }   

 .sec-three .we-text{
     color: #7E7E7E;
 }

 .sec-three .we-sort{
     width: 200px;
     height: 40px;
     background-color: #F8F8F8;
     border-radius: 5px;
     text-align: center;
     padding-top: 7px;
     margin-top: 10px;
 }

 .sec-three .we-sort p{
     color: #ABABAB;
 }

 .sec-three .we-sort #sort1{
    color: black;
    padding-left: 20px;
}

.sec-three .we-sort #sort2{
    color: #ABABAB;
    padding-left: 20px;
}


/* section 4 begins */
.sec-four{
    margin-top: 40px;
}

.program-pics img{
   width: 310px;
}

.program-text{
    width: 310px;
    height: 260px;
    background-color: #FAF8F6;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 15px;
}

.program-text #date{
    padding-top: 20px;
       
}

.program-text h3{
    color:  #3F3A64;
    font-size: 23px;
}

.program-text #students{
    color: #696969;
    padding-top: 20px;
    font-weight: 400;
    padding-left: 20px;
}

.program-text span{
    padding-left: 30px;
}

.free1{
    width: 65px;
    height: 50px;
    color: #FFFFFF;
    background-color: #20AD96;
   text-align: center;
   padding-top: 15px;
   position: absolute;
   top: 173px;
   right: 70px;
}


.free2{
    width: 115px;
    height: 50px;
    color: #FFFFFF;
    background-color: #20AD96;
   text-align: center;
   padding-top: 15px;
   position: absolute;
   top: 173px;
   right: 70px;
}

.row2{
    margin-top: 35px;
}

.btn-v{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 60px;
    }
    
    .btn-view {
           width: 280px;
           text-align: center;
           margin: auto;
           margin-top: 40px;
           background-color: #FFFFFF;
           color: #20AD96;
           padding-left: 25px;
           padding-right: 25px;
           padding-top: 11px;
           border: solid #EEEEEE 1px;
           border-radius: 5px;
           cursor: pointer;
       }

       button i{
        padding-left: 10px;
    } 



       /* footer section begins */
footer{
    width: 100%;
    background-color: #F8F8F8;  
}

.foot{
padding-top: 50px;
}

.foot a {
color: #665959;
text-decoration: none;
}

.foot a:hover {
color: #257249;
}

#main{
color: #333333;
font-weight: 500 !important;
}

#succ{
padding-top: 26px;
}

.copyright{
padding-top: 80px;
padding-bottom: 10px;
text-align: center;
color:  #ABABAB;
}

@media (max-width: 1200px) {
    
    .fr-two {
        position: absolute;
        left: 200px;
    }

    .fr-one {
        left: 180px;
    }
}

@media (max-width: 1024px) {
    
    .fr-two {
        position: absolute;
        right: 500px !important;
    }
}






/* media screen */
@media (max-width:903px) {

    .search, .search i{
        display: none;
    }

   .sec-two{
       margin-top: 40px;
   }

   .logos a{
       font-size: 16px;
   }

   #img-small{
       display: none;
   }

   /* section 2 begins */
   .sec-two{
    margin-top: 80px;
}

.sec-two h2{
    margin-top: 30px;
}



/* sec-three begins */
.sec-three .available-border{
    width: 100%;
    height: 4px;
}

.sec-three .we{
    display: block;
    margin-top: 30px;
}   

.sec-three .we-sort{
    width: 200px;
    height: 40px;
    padding-top: 7px;
    margin-top: 10px;
}

    /* section 4 begins */
    .program1{
        margin-top: 40px;
        position: relative;
    }

    .program-text{
        width: 310px;
        height: 210px;
    }

    .free1, .free2{
       position: absolute;
       top: 170px;
       right: 50px;
    }
    
    .row2{
        margin-top: 10px;
    }

    .row1, .row2{
        width: 100%;
        margin: auto;
    }



.copyright{
    padding-top: 30px;
    padding-bottom: 10px;
    }

    .foot{
        padding-top: 30px;
        }

}



/* media screen */
@media (max-width:368px) {

    .sec-three{
        width: 100% !important;
    }


    .sec-three .available{
        width: 110% !important;
        line-height: 0rem;
        font-size: 14px;
    }

    .sec-three .available span{
        margin-left: 20px;
    }

    .sec-three .available-border{
        width: 100% !important;
    }

    .free1, .free2{
        top: 198px;
        right: 50px;
     }
    }

    @media (max-width:300px) {
    
        .sec-three .available{
            font-size: 12px;
        }
    
        .sec-three .available span{
            margin-left: 10px;
        }
    }









