@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}


/* sec-one begins */

/* navbar */

.navbar{
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 15px 10px -15px  #E5E5E5;    
    background-color: #FFFFFF;
} 

.logos img{
    margin-right: 2px;
    margin-top: -10px;
}

.logos a{
    font-weight: bold;
    text-decoration: none;
    color: #019748 !important;
    font-family: 'Acme', sans-serif;
    font-size: 21px; 
}


.logos span{
    color: #31316D;
    font-family: 'Acme', sans-serif;
}


.navbar-nav{
    margin-left: 160px;
  
}

.nav-link{
    color: #111111 !important;
}

.nav-link:hover{
    color: #019748 !important;
}


.nav-link:hover{
    border-bottom: solid 2px  #019748;
}

.nav-item {
    padding-left: 25px;
}


.search{
    margin-right: 70px;
}

.search i{
    padding-left: 20px;
}


/* section 2 begins */
    .sec-two{
        margin-top: 83px;
    }
.team-banner{
    background-image: url("../images/about-banner.png");
    width: 100%;
     height: 450px; 
    background-size: cover;
    background-color: rgba(0.5, 0.5, 0.5, 0.8);
}

.cover2{
    width: 100%;
    height: 450px;
    background-color: rgb(90, 87, 87);
    opacity: 0.9;  
}

 .team-banner{
        text-align: center;
 }

 .team-banner p{
     color:  #FFFFFF;
     font-size: 55px;
     word-spacing: 15px;
     padding-top: 160px;
     
}


/* section 3 begins */
.sec-three{
       
}

.sec-three .get p {
 padding-top: 50px;
    text-align: center;
    color: #696969;
    font-size: 17px;
    font-weight: bold;
}

.sec-three h4 {
 padding-top: 0px;
    text-align: center;
    font-size: 30px;
    color: #333333;
}

.sec-three h4 span{
color: #28A462;
}

/* main image begins */
.main-image{
    width: 81%;
    margin-top: 50px;
}

.main-pics{
    margin-left: 250px;
}

.main-pics img{
    width: 100%;
    
}

.main-text{
    margin-left: 70px;
}

.main-text > h3{
    padding-top: 20px;
    color: #31306D;
}

.main-text > h5{
    color: #000000;
}

.main-text > p{
    padding-top: 10px;
    color: #696969;
    font-weight: bold;
}



/* section 4 begins */
.sec-four{
    margin-top: 100px;
    margin-bottom: 70px;
}

.profile img{
    width: 82%;
    height: 350px;
}

.mission{
    height: 27rem;
}

.profile-text h4{
  color: #31306D;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 10px;
}

.profile #to{
    color: #696969;
    font-weight: bold;
    padding-left: 10px;
}

.profile-text p{
   font-size: 15px;
   color: #000000;
   padding-left: 10px;
}


.row2{
    margin-top: 70px;
}

.mission2 {
    height: 17.7rem;
}

.mission3 {
    height: 17rem;
}


    /* footer section begins */
footer{
    width: 100%;
    background-color: #F8F8F8;  

}

.foot{
padding-top: 50px;
}

.foot a {
color: #696969;
text-decoration: none;
}

.foot a:hover {
color: #257249;
}

#main{
color: #333333;
font-weight: 500 !important;
}

#succ{
padding-top: 26px;
}

.copyright{
padding-top: 80px;
padding-bottom: 10px;
text-align: center;
color:  #ABABAB;
}






/* media screen */
@media (max-width:900px) {

    .search, .search i{
        display: none;
    }

   .sec-two{
       margin-top: 40px;
   }

   .logos a{
       font-size: 16px;
   }

   #img-small{
       display: none;
   }

   .team-banner{
     height: 200px; 
}

.cover2{
    height: 200px; 
}

   .team-banner p{
    font-size: 35px;
    padding-top: 88px;
}

.sec-three .get p {
    padding-top: 20px;
    font-size: 20px;
   }

   .sec-three h4 {
        line-height: 2px;
       font-size: 23px;
   }

   /* main image begins */
.main-image{
    width: 100%;
    display: block;
    margin-top: 50px;
}

.main-pics{
    display: block;
    width: 100%;
    margin-left: 0px;
}

.main-pics img{
    width: 100%;
    display: block;
}

.main-text{
    margin-left: 0px;
}

/* section 4 begins */
.sec-four{
    margin-top: 0px;
    margin-bottom: 70px;
}

.profile{
    margin-top: 60px;
}

.profile img{
    width: 100%;
    height: 350px;
}

.mission, .mission2, .mission3{
    width: 100% !important;
    height: initial;
}


.row2{
    margin-top: 0px;
}


.copyright{
    padding-top: 30px;
    padding-bottom: 10px;
    }

    .foot{
        padding-top: 30px;
        }

}